<ion-view view-title="A propos" class="bar-positive">
  <ion-content class="padding apropos">
    <h1 class="text-center title">Pharmacie Itokiana</h1>
    <div class="list">
      <div class="list-item">
        <h5>Version</h5>
        <p>Beta (03 Decembre 2016)</p>
      </div>
      <div class="list-item">
        <h5>Développé par</h5>
        <p>Bako Harry RAKOTONDRATOMPO</p>
      </div>
      <div class="list-item">
        <h5>Contact</h5>
        <p>+261 33 04 581 92</p>
      </div>
      <div class="list-item">
        <h5>Remerciement</h5>
        <p>Sandie, Hazumi Yuri, Ecole Supérieure de Technologie</p>
      </div>
      <br>
      <div class = "row">
        <div class = "col col-33"></div>
        <div class = "col item-image">
          <img src="img/est4life.png" alt="">
          <p>
             &copy; Harrylepap
          </p>
        </div>
        <div class = "col"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
